<h2>Listing Scores</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Score</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for score <- @scores do %>
    <tr>
      <td><%= score.user.username %></td>
      <td><%= score.point %></td>

      <td class="text-right">
        <span><%= link "Show", to: admin_score_path(@conn, :show, score), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: admin_score_path(@conn, :edit, score), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: admin_score_path(@conn, :delete, score), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Score", to: admin_score_path(@conn, :new) %></span>
