<h2>Show Score</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @score.user.username %>
  </li>

  <li>
    <strong>Point:</strong>
    <%= @score.point %>
  </li>

</ul>

<span><%= link "Edit", to: admin_score_path(@conn, :edit, @score) %></span>
<span><%= link "Back", to: admin_score_path(@conn, :index) %></span>
