<h2>Listing Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>UUID</th>
      <th>Username</th>
      <th>Scores</th>
      <th>Best score</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.uuid %></td>
      <td><%= user.username %></td>
      <td><%= length(user.scores) %></td>
      <td><%= user_best_score(user) %></td>

      <td class="text-right">
        <span><%= link "Show", to: admin_user_path(@conn, :show, user), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: admin_user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: admin_user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New User", to: admin_user_path(@conn, :new) %></span>
