<h2>Show User</h2>

<ul>

  <li>
    <strong>Device UUID:</strong>
    <%= @user.device.uuid %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

</ul>

<span><%= link "Edit", to: admin_user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: admin_user_path(@conn, :index) %></span>
